# Dependencias (Nunca subir esto porque son las librerías instaladas)
node_modules/
/DATOSEMPLEADO.BE/node_modules/
/DATOSEMPLEADO.FE/node_modules/

# Logs y archivos de sistema
*.log
.DS_Store

# Variables de Entorno (No se sube archivos con información sensible)
.env
.env.local
*.env

# Builds de producción (se generan automáticamente)
/DATOSEMPLEADO.FE/dist/
/DATOSEMPLEADO.FE/build/